.hero_section{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.158);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_discuss .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.history_section .content{
    display: flex;
    flex-direction: column;
    padding: 30px auto;
}

@media (max-width:990px) {
    
    .notable_people img{
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width:767px) {
    .notable_people img{
        width: 100%;
    }
}

@media (max-width:438px) {
    .about_discuss .content h1{
        text-align: center;
    }
}
.hero_section{
    position: relative;
    top: 0;
    left: 0;
}

.hero_section .overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(46, 29, 30, 0.317);;
    
}

.hero_section img{
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.hero_section .text{
    position: absolute;
    transform: translate(0%, -50%);
    /* left: 0%; */
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    z-index: 1;
}